   
<launch>
   	<!-- Launch polaris sensor ros package need the path to the rom files --> 
	<node name="polaris_sensor" pkg="polaris_sensor" type="polaris_sensor_node" >

      <param name="port" type="string" value="/dev/ttyUSB0"/>
      <param name="roms" type="string" value="$(find polaris_sensor)/rom/8700339.rom, $(find polaris_sensor)/rom/Left_Base.rom"/> 
      <!-- $(find polaris_sensor)/rom/Left_Base.rom, 8700338, 8700339-->

	</node> 

   <!-- Launch rosbag for recording, if necessary -->
   <arg name ="file_name" default="polaris_sensor_green.bag"/>
   <arg name ="dest_path" default="/home/rxh349/ros_ws/src/Davinci_Calibration/davinci_calibration/polaris_topics"/>	
   <arg name ="polaris_topic" default="/polaris_sensor/targets"/>
   <arg name ="psm1_topic" default="/dvrk/PSM1/joint_states"/>
   <arg name ="psm2_topic" default="/dvrk/PSM2/joint_states"/>

   <node name ="recorder" pkg="rosbag" type="record" output="screen" args="-O $(arg dest_path)/$(arg file_name) $(arg psm1_topic) $(arg psm2_topic)">

   </node>
   

</launch>