<launch>
  
   <!-- Launch daVinci node --> 
   <include file="$(find davinci_launch)/launch/usb_stereo.launch"/>
   <node name="davinci_endoscope" pkg="stereo_sync" type="stereo_sync_node" output="screen"/>
   <group ns="davinci_endo">
      <node name="davinci_stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc"/>
   </group>
	
   <!-- Launch polaris sensor ros package need the path to the rom files --> 
   <node name="polaris_sensor" pkg="polaris_sensor" type="polaris_sensor_node" >

        <param name="port" type="string" value="/dev/ttyUSB0"/>
        <param name="roms" type="string" value="$(find polaris_sensor)/rom/8700339.rom, $(find polaris_sensor)/rom/ChessBoard.rom"/>

   </node> 

   <!-- Launch cameracalibration view  -->
   <node name="camera_calibration" pkg="davinci_calibration" type="cameracalibrator.py"
	args="--size 5x7 
	      --square 0.015" 
	output="screen" launch-prefix="xterm -e">

         <remap from="right" to="/davinci_endo/right/image_raw" />
         <remap from="left" to="/davinci_endo/left/image_raw" />
         <remap from="right_camera" to="/davinci_endo/unsynced/right" />
         <remap from="left_camera" to="/davinci_endo/unsynced/left" />

   </node>

   <!-- Launch daVinci Calibration node 
   <node name="davinci_calibration" pkg="davinci_calibration" type="davinci_calibrator_node" launch-prefix="xterm -e"/>

   -->
   <!-- Launch rosbag for recording, if necessary 
   <arg name ="file_name" default="polaris_sensor_yellow_6.bag"/>
   <arg name ="dest_path" default="/home/rxh349/ros_ws/src/Davinci_Calibration/davinci_calibration/polaris_topics"/>	
   <arg name ="polaris_topic" default="/polaris_sensor/targets"/>
   <node name ="recorder" pkg="rosbag" type="record" output="screen" args="-O $(arg dest_path)/$(arg file_name) $(arg polaris_topic)">
   </node>

   -->
	
</launch>
